@model IEnumerable<ECommerceApp.ViewModels.CategoriesVM>

@{
    ViewBag.Title = "Daftar Kategori";
}

<h2>Daftar Kategori</h2><br />

@using (Html.BeginForm("Search", "Categories", FormMethod.Get))
{
    <label for="selectKriteria">Pilih kriteria:</label>
    <select name="selectKriteria">
        <option value="CategoryName" selected="selected">Category Name</option>
    </select>
    <input type="text" name="txtSearch" />
    <button type="submit" class="btn btn-success">Search</button>
}

@Html.Raw(ViewBag.Pesan)
<br />
@Html.ActionLink("Tambah Kategori","Create")<br />

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nama Kategori</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var cat in Model)
    {
        <tr>
            <td>@cat.CategoryID</td>
            <td>@cat.CategoryName</td>
            <td>@Html.ActionLink("edit","Edit", new { id=cat.CategoryID })</td>
            <td>@Html.ActionLink("delete","Delete",new { id=cat.CategoryID },
               htmlAttributes:new { onclick="return confirm('Apakah anda yakin akan mendelete data ini ?');" })</td>
        </tr>
    }
</table>

